<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollableBezierLineGraph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A8B78AA1D066F2F00A72382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A8B78BE1D066F3000A72382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A8B78C91D066F3000A72382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
